<div class="page" data-ng-controller="chatCtrl as vm" data-ng-cloak>
    <ol class="breadcrumb-alt">
        <li><a href="#/dashboard">Home</a></li>
        <li class="active"><a href="">Chat</a></li>
    </ol>

    <div style="padding:5px; background-color:white;">

        <div class="row col-md-12">

            <div class="col-sm-9">
                <section class="panel panel-default mail-container">
                    <div class="panel-heading"><strong> Welcome to PayAnyBiz Chat Room</strong></div>
                    <div class="col-md-12"></div>
                </section>
            </div>
            <div class="col-sm-3">
                <section class="panel panel-default mail-categories">
                    <div class="panel-heading">
                        <strong>   Contacts</strong>
                    </div>
                    <section class="panel panel-default mail-categories">
          
                        <ul class="list-group">
                            <li class="list-group-item">
                                <a href="javascript:;">
                                    <span class="icon glyphicon glyphicon-user color-success"></span>
                                    A. Clavelo <i class="fa fa-circle color-success pull-right"></i>
                                </a>
                            </li>
                            <li class="list-group-item">
                                <a href="javascript:;">
                                    <span class="icon glyphicon glyphicon-user color-success"></span>
                                    J. De la Rua <i class="fa fa-circle color-success pull-right"></i>
                                </a>
                            </li>
                            <li class="list-group-item">
                                <a href="javascript:;">
                                    <span class="icon glyphicon glyphicon-user color-danger"></span>
                                    Y. Caraballo <i class="fa fa-circle color-danger pull-right"></i>
                                </a>
                            </li> 
                        </ul>
                    </section>
                </section>
             
            </div>


            <!--Action Buttons -->
            <div class="row">
                <div class="col-md-6">

                </div>
                <div class="col-md-6">
                    <!--<div class="pull-right">
                        <a data-ng-click="vm.goToDashboard()" class="btn btn-warning">Cancel</a>
                        <button type="button" class="btn btn-primary" data-ng-click="vm.save()"> <i class="fa fa-save"></i> Save</button>
                    </div>-->
                </div>
            </div>

        </div>
    </div>

</div>

