<!--[if !IE]><!-->
<style>
    #input-budget {
        background-color: #ffffff;
        border: 0px solid;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
        -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
        -o-transition: border linear 0.2s, box-shadow linear 0.2s;
        transition: border linear 0.2s, box-shadow linear 0.2s;
        border-style: none;
        display: inline-block;
        padding: 2px;
        margin-bottom: 0px;
        font-size: 14px;
        line-height: 20px;
        color: #555;
        border: 0px solid;
        vertical-align: middle;
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        border-radius: 0px;
    }
</style>

<div class="page" data-ng-controller="transactionCtrl as vm" data-ng-cloak>
    <ol class="breadcrumb-alt">
        <li><a href="#/dashboard">Home</a></li> 
        <li class="active"><a href="">New  Transaction</a></li>
    </ol>

    <div id="{{vm.transaction.id}}" style="padding:5px; background-color:white;">
        <div class="panel panel-default">
            <div class="panel-heading"><span class="glyphicon glyphicon-th"></span> <span data-ng-show="vm.isbillercurrent"> New Biller Transaction</span> <span data-ng-show="!vm.isbillercurrent"> New Payor Transaction</span> </div>
            <div class="panel-body">
                <div class="row col-md-12">

                    <div class="row">
                        <!--Biller--> <!--OR-->  <!--Payor-->
                        <div class="col-md-4" data-ng-if="vm.isbillercurrent">
                            <div class="label-form">Biller</div>
                            <input type="text"
                                   data-ng-model="vm.currentcustomer.legalName"
                                   data-ng-show="vm.isTransactionApproved || vm.isbillercurrent"
                                   data-ng-readonly="true"
                                   id="txneditcustomerbiller"
                                   class="form-control" />
                            <span class="nullable" data-ng-show="!(vm.isTransactionApproved || vm.isbillercurrent)">
                                <span class="ui-select">
                                    <select data-ng-model="vm.selectedbiller"
                                            data-ng-class="{ 'alert-error': !vm.billerIsValid }"
                                            data-ng-options="b.legalName for b in vm.customers"
                                            id="txneditbillers">
                                        <option value="">-- select biller --</option>
                                    </select>
                                </span>
                            </span>
                            <div class="info-custom">creator of the data</div>
                            <div class="error-custom" data-ng-show="!vm.validator.validateObject.billerIsValid">{{vm.validator.validateObject.messages.billerMessage}}</div>
                        </div>
                        <div class="col-md-4" data-ng-if="!vm.isbillercurrent">
                            <div class="label-form">Payor</div>
                            <input type="text"
                                   data-ng-model="vm.currentcustomer.legalName"
                                   data-ng-show="vm.isTransactionApproved || vm.ispayorcurrent"
                                   data-ng-readonly="true"
                                   id="txneditcustomerpayor"
                                   class="form-control" />
                            <span class="nullable" data-ng-show="!(vm.isTransactionApproved || vm.ispayorcurrent)">
                                <span class="ui-select">
                                    <select data-ng-model="vm.selectedpayor"
                                            data-ng-class="{ 'alert-error': !vm.validator.validateObject.payorIsValid }"
                                            data-ng-options="p.legalName for p in vm.customers"
                                            id="txneditpayors">
                                        <option value="">-- select payor --</option>
                                    </select>
                                </span>
                            </span>
                            <div class="info-custom">creator of the data</div>
                            <div class="error-custom" data-ng-show="!vm.validator.validateObject.payorIsValid">{{vm.validator.validateObject.messages.payorMessage}}</div>
                        </div>
                        <!--Amount-->
                        <div class="col-md-4">
                            <div class="label-form">Amount</div>

                            <input type="text"
                                   name="txneditamount"
                                   data-ng-click="vm.inputCurrency(vm.transaction.amount)"
                                   data-ng-required="true"
                                   data-pab-currency-input=""
                                   data-ng-model="vm.transaction.amount"
                                   data-ng-readonly="vm.isTransactionApproved"
                                   class="form-control"
                                   data-ng-class="{ 'alert-error': !vm.validator.validateObject.amountIsValid }"
                                   id="txneditamount" />
                            <div class="info-custom">amount being invoiced</div>
                            <div class="error-custom" data-ng-show="!vm.validator.validateObject.amountIsValid">{{vm.validator.validateObject.messages.amountMessage}}</div>
                        </div>
                        <!--Departure Date -->
                        <div class="col-md-4">
                            <div class="label-form">Departure Date</div>
                            <div class="input-group ui-datepicker">
                                <input type="text"
                                       show-weeks="false"
                                       class="form-control"
                                       datepicker-popup="MM/dd/yyyy"
                                       ng-model="vm.transaction.departureDate"
                                       data-ng-disabled="vm.isTransactionApproved"
                                       is-open="vm.departureDateOpened"
                                       ng-click="vm.open($event,'departureDateOpened')"
                                       close-text="Close">
                                <span class="input-group-addon" ng-click="vm.open($event,'departureDateOpened')"><i class="fa fa-calendar"></i></span>
                            </div>
                            <div class="info-custom">date shipment leaves</div>
                        </div>
                    </div>
                    <div class="row">
                        <!--Biller--> <!--OR-->  <!--Payor-->
                        <div class="col-md-4" data-ng-if="!vm.isbillercurrent" data-ng-class="{ error: !vm.validator.validateObject.billerIsValid }">
                            <div class="label-form">Biller</div>
                            <input type="text"
                                   data-ng-model="vm.currentcustomer.legalName"
                                   data-ng-show="vm.isTransactionApproved || vm.isbillercurrent"
                                   data-ng-readonly="true"
                                   id="txneditcustomerbiller"
                                   class="form-control" />
                            <span class="nullable" data-ng-show="!(vm.isTransactionApproved || vm.isbillercurrent)">
                                <span class="ui-select">
                                    <select data-ng-model="vm.selectedbiller"
                                            data-ng-class="{ 'alert-error': !vm.billerIsValid }"
                                            data-ng-options="b.legalName for b in vm.customers"
                                            id="txneditbillers">
                                        <option value="">-- select biller --</option>
                                    </select>
                                </span>
                            </span>
                            <div style="margin-top: -2px; margin-left: 3px; color: #005580; font-size: 11px !important; font-style: italic; ">related no.</div>
                            <div class="error-custom" data-ng-show="!vm.validator.validateObject.billerIsValid">{{vm.validator.validateObject.messages.billerMessage}}</div>
                        </div>
                        <div class="col-md-4" data-ng-if="vm.isbillercurrent" data-ng-class="{ error: !vm.validator.validateObject.payorIsValid }">
                            <div class="label-form">Payor</div>
                            <input type="text"
                                   data-ng-model="vm.currentcustomer.legalName"
                                   data-ng-show="vm.isTransactionApproved || vm.ispayorcurrent"
                                   data-ng-readonly="true"
                                   id="txneditcustomerpayor"
                                   class="form-control" />
                            <span class="nullable" data-ng-show="!(vm.isTransactionApproved || vm.ispayorcurrent)">
                                <span class="ui-select">
                                    <select data-ng-model="vm.selectedpayor"
                                            data-ng-class="{ 'alert-error': !vm.validator.validateObject.payorIsValid }"
                                            data-ng-options="p.legalName for p in vm.customers"
                                            id="txneditpayors">
                                        <option value="">-- select payor --</option>
                                    </select>
                                </span>
                            </span>
                            <div class="info-custom">payor is the party that is paying and validating the invoice</div>
                            <div class="error-custom" data-ng-show="!vm.validator.validateObject.payorIsValid">{{vm.validator.validateObject.messages.payorMessage}}</div>
                        </div>
                        <!--Due Date-->
                        <div class="col-md-4">
                            <div class="label-form">Due Date</div>
                            <div class="input-group ui-datepicker">
                                <input type="text"
                                       show-weeks="false"
                                       class="form-control"
                                       datepicker-popup="MM/dd/yyyy"
                                       data-ng-model="vm.transaction.dueDate"
                                       data-ng-disabled="vm.isTransactionApproved"
                                       is-open="vm.dueDateOpened"
                                       ng-click="vm.open($event,'dueDateOpened')"
                                       close-text="Close">
                                <span class="input-group-addon" ng-click="vm.open($event,'dueDateOpened')"><i class="fa fa-calendar"></i></span>
                            </div>
                            <div class="info-custom">date payment is due</div>
                        </div>
                        <!--Arrival Date-->
                        <div class="col-md-4">
                            <div class="label-form">Arrival Date</div>
                            <div class="input-group ui-datepicker">
                                <input type="text"
                                       show-weeks="false"
                                       class="form-control"
                                       datepicker-popup="MM/dd/yyyy"
                                       data-ng-model="vm.transaction.arrivalDate"
                                       data-ng-disabled="vm.isTransactionApproved"
                                       is-open="vm.arrivalDateOpened"
                                       ng-click="vm.open($event,'arrivalDateOpened')"
                                       close-text="Close">
                                <span class="input-group-addon" ng-click="vm.open($event,'arrivalDateOpened')"><i class="fa fa-calendar"></i></span>
                            </div>
                            <div class="info-custom">date shipment arrives destination</div>

                        </div>
                    </div>
                    <div class="row">
                        <!-- Transaction Type -->
                        <div class="col-md-4">
                            <div class="label-form">Type</div>
                            <input type="text"
                                   data-ng-model="vm.selectedtransactiontype.description"
                                   data-ng-show="vm.isTransactionApproved"
                                   data-ng-readonly="true"
                                   class="form-control" />
                            <span class="nullable">
                                <span class="ui-select">
                                    <select data-ng-show="!vm.isTransactionApproved"
                                            data-ng-class="{ 'alert-error': !vm.validator.validateObject.typeIsValid }"
                                            data-ng-model="vm.selectedtransactiontype"
                                            data-ng-options="t.description for t in vm.transactiontypes">
                                        <option value="">-- select type --</option>
                                    </select>
                                </span>
                            </span>
                            <div class="info-custom">type of document instrument</div>
                            <div class="error-custom" data-ng-show="!vm.validator.validateObject.typeIsValid">{{vm.validator.validateObject.messages.typeMessage}}</div>

                        </div>
                        <!-- Transaction Category -->
                        <div class="col-md-4">
                            <div class="label-form">Category</div>
                            <input type="text"
                                   data-ng-model="vm.selectedcategory.bizAreaDescription"
                                   data-ng-show="vm.isTransactionApproved"
                                   data-ng-readonly="true"
                                   class="form-control"
                                   id="edtCatRO" />
                            <span class="nullable">
                                <span class="ui-select">
                                    <select data-ng-show="!vm.isTransactionApproved"
                                            data-ng-model="vm.selectedcategory"
                                            data-ng-class="{ 'alert-error': !vm.validator.validateObject.categoryIsValid }"
                                            data-ng-options="c.bizAreaDescription for c in vm.categories">
                                        <option value="">-- select category --</option>
                                    </select>
                                </span>
                            </span>
                            <div class="info-custom">what industry</div>
                            <div class="error-custom" data-ng-show="!vm.validator.validateObject.categoryIsValid">{{vm.validator.validateObject.messages.categoryMessage}}</div>

                        </div>
                        <!--Payor Ref #-->
                        <div class="col-md-4">
                            <div class="label-form">Payor Ref Number</div>
                            <input data-ng-readonly="vm.isTransactionApproved || vm.isbillercurrent"
                                   type="text" name="payorRefNumber"
                                   data-ng-class="{ 'alert-error': !vm.validator.validateObject.payorRefIsValid }"
                                   data-ng-model="vm.transaction.payorRefNumber"
                                   class="form-control" />
                            <div class="info-custom">payor internal numbering system</div>
                            <div class="error-custom" data-ng-show="!vm.validator.validateObject.payorRefIsValid">{{vm.validator.validateObject.messages.payorRefMessage}}</div>
                        </div>

                    </div>
                    <div class="row">

                        <!--Transaction Number-->
                        <div class="col-md-4">
                            <div class="label-form">Number</div>
                            <input type="text" name="number"
                                   data-ng-model="vm.transaction.number"
                                   id="txneditnumber"
                                   data-ng-class="{ 'alert-error': !vm.validator.validateObject.numberIsValid }"
                                   class="form-control" />
                            <div class="info-custom">{{vm.selectedtransactiontype.description}} number</div>
                            <div class="error-custom" data-ng-show="!vm.validator.validateObject.numberIsValid">{{vm.validator.validateObject.messages.numberMessage}}</div>
                        </div>
                        <!--Related Number-->
                        <div class="col-md-4">
                            <div class="label-form">Related No.</div>
                            <input type="text"
                                   data-ng-model="vm.transaction.relatedNumber"
                                   data-ng-class="{ 'alert-error': !vm.validator.validateObject.relatedNumberIsValid }"
                                   class="form-control"
                                   id="txneditrelatednumber" />
                            <div class="info-custom">text info test</div>
                            <div class="error-custom" data-ng-show="!vm.validator.validateObject.relatedNumberIsValid">{{vm.validator.validateObject.messages.relatedNumberMessage}}</div>
                        </div>

                        <!--Description-->
                        <div class="col-md-4">
                            <div><b>Description</b></div>
                            <textarea data-ng-readonly="vm.isTransactionApproved"
                                      rows="5" cols="100" maxlength="1000"
                                      data-ng-trim="false"
                                      name="Description" data-ng-model="vm.transaction.description" class="form-control" />
                            <div style="margin-top: -2px; margin-left: 3px; color: #005580; font-size: 11px !important; font-style: italic; ">(max 1000 characters) <span>{{1000 - vm.transaction.description.length}} left</span></div>
                        </div>
                    </div>                    
                    <div class="row">

                        <div class="col-md-6" data-ng-if="vm.isSaved">

                            <div class="panel panel-info">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Documents Attachment(s)</h3>
                                </div>
                                <div class="panel-body">
                                    <ng-include src="'/app/views/attachment/attachment.html'"></ng-include>
                                </div>
                            </div>

                            <div class="panel panel-info">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Transaction Budget Details</h3>
                                </div>
                                <div class="panel-body">
                                    <table>
                                        <thead>
                                            <tr>
                                                <th>Container Number</th>
                                                <th class="span2">Budget Numbers</th>
                                                <th>Amount</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr data-ng-repeat="relnbr in vm.relatednumbers">
                                                <td>
                                                    <input type="text" id="input-budget" data-ng-model="relnbr.number" />
                                                </td>
                                                <td>
                                                    <input type="text" id="input-budget" data-ng-model="relnbr.container" />
                                                </td>
                                                <td style="text-align: right;">
                                                    <input type="text" id="input-budget" data-pab-currency-input="" data-ng-model="relnbr.amount" />
                                                </td>
                                                <td>
                                                    <div class="btn" style="cursor:pointer;" data-a-ng-click="vm.removeRelatedNumber(relnbr)" title="remove"><i class="fa fa-trash-o"></i></div>
                                                </td>
                                            </tr>
                                            <tr data-ng-show="vm.relatedNumberTotalAmount > 0">
                                                <td></td>
                                                <td></td>
                                                <td><div><b>Total: {{vm.getRelatedNumberTotalAmount() | currency}}</b></div></td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <input value="" class="input-inline-form" type="text" placeholder="Container Number" data-ng-model="vm.relatedNumber.number" />
                                                </td>
                                                <td>
                                                    <input value="" class="input-inline-form" type="text" placeholder="Budget Number" data-ng-model="vm.relatedNumber.container" />

                                                </td>
                                                <td>
                                                    <input value="" class="input-inline-form" type="text" data-pab-currency-input="" data-ng-click="vm.inputCurrency(vm.relatedNumber.amount)" placeholder="amount" data-ng-model="vm.relatedNumber.amount" />
                                                </td>
                                                <td>
                                                    <button class="btn" data-ng-show="vm.transaction.transactionStatusId != 3" data-ng-click="vm.addRelatedNumber()">add</button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>




                        </div>

                    </div>
                    <progressbar data-ng-show="vm.showLoading" class="progressbar-sm progress-striped" value="100" type="info">{{vm.loadingMsg}}</progressbar>
                    <!--Alert verifier-->
                    <div class="row">
                        <div class="col-md-6">

                        </div>
                        <div class="col-md-6">
                            <div class="pull-right">
                                <a data-ng-click="vm.goToDashboard()" class="btn btn-warning">Cancel</a>
                                <button type="button" class="btn btn-primary" data-ng-click="vm.save()"> <i class="fa fa-save"></i> Save</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>

</div>

